body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("just-waves.png");
}

header {
    position: absolute;
    top: 2%;
    width: 100%;
    height: 10%;
    background-color: rgba(51, 153, 255, 0.5);
}

.navbar {
    position: absolute;
}

button.navbar {
    height: 50%;
    width: 15%;
    background-color: white;
    border: 2px solid black;
    border-radius: 20%;
}

#dashboardBtn {
    top: 25%;
    left: 2%;
}

#addRecipeBtn {
    top: 25%;
    left: 19%;
}

#planMealsBtn {
    top: 25%;
    left: 36%;
}

#mealPlanningSection {
    position: absolute;
    top: 16%;
    left: 3%;
    width: 94%;
    height: 81%;
    background-color: rgba(191, 128, 255, 0.3);
    border: 5px solid white;
    border-radius: 10px;
}

table {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 96%;
    height: 90%;
    border: 5px solid black;
}

tr {
    height: 10%;
    width: 14.29%;
}

td {
    height: 30%;
    border: 1px solid black;
}